src/main/mule/getByID.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="GetByOrderID" doc:id="f47aea24-6707-4b7b-900c-ec42fa15eba5" >
		<http:listener doc:name="Listener" doc:id="e808bbc1-7579-44ac-b1d3-5c96ae621f70" config-ref="8081" path="/get/{orderId}"/>
		<db:select doc:name="Select" doc:id="83ec86bc-1dbc-4da1-8ac0-36d520011542" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT * FROM Orders WHERE orderId= :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{ 'ID': attributes.uriParams.orderId }]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="785c6f5a-7b21-46c3-877f-f8c939659e10" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{(
payload map(val,ind) ->{
    "Product Name":val.productName,
	"Order":"#" ++ val.orderId ,
    "packaged":(now() + "P-2D") as String {format:"dd-MMM"},
	"Picked":now() as String {format:"dd-MMM"},
    "Shipped from":val.pickupAddress,
	"out for delivery":(now()+"P1D") as String {format:"dd-MMM"},
	"Delivered To":val.deliveryAddress,
    "Delivered":(now()+"P10D") as String {format:"dd-MMM"}
}	
)}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3f9e1c22-dd7a-4247-abbb-464a368c418b" message="#[payload]" />
	</flow>
	</mule>
